@charset "utf-8";

body {
	background: #222;
}

h1, h2, h3 {
	color: cadetblue;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", "sans-serif";
	text-align: center;
}

img, object, embed, video {
	max-width: 100%;
}

.fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: none;
	display: block;
	background-color:#222;
}

table {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}
/* Mobile Layout: 480px and below. */
tr {
	width: 100%;
}
p, td {
	color: darkgrey;
	font-size: large;
	text-align: center;
}

td {
	width: 33.333%;
}

a {
	color:aquamarine;
	font-size: large;
}

ul {
	color: darkgray;
}

#apps {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	h2 {
		font-size: xx-large;
		text-align: center;
	}

	p, a, ul, li {
		font-size: x-large;
	}

	.fluid {
		width: 75%;
	}

	#apps {
		width: 50%;
	}

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	.fluid {
		width: 60%;
	}
	#apps {
		width: 30%
	}

}
