@charset "utf-8";

body {
	background: #222;
}

h1, h2, h3, caption {
	color: cadetblue;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Verdana", "sans-serif";
	text-align: center;
}

caption {
	font-size: xx-large;
}

img, object, embed, video {
	max-width: 100%;
}

.fluid {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	float: none;
	display: block;
	background-color:#222;
}

/*These styles control the appearence of the navigation bar for all pages.*/
nav {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
nav ul {
	margin-right: auto;
	margin-left: auto;
}
nav ul li {
	width: auto;
	display: inline;
	margin: 5px 0 15px auto;
}
nav ul li a {
	color: #222;
	background-color: aquamarine;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
nav ul li a:hover {
	color: aquamarine;
	background-color: #222;
}

table {
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
}
/* Mobile Layout: 480px and below. */
caption {
	text-align: center;
}
tr {
	width: 100%;
}
p {
	color: darkgrey;
	font-size: large;
	text-align: center;
}

td, th {
	color: darkgrey;
	font-size: medium;
	text-align: center;
	width: 175px;
}

a {
	color:aquamarine;
	font-size: medium;
}

ul {
	color: darkgray;
}

#services {
	/*display: block;*/
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.feedback {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

input {
	display: inline-block;
	width: 100%;
	background-color: CadetBlue;
	border-color: #111;
	border-style: solid;
	border-width: thin;
	font-weight: bold;
	font-size: large;
}

#submit {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-size: x-large;
}

textarea {
	width: 100%;
	background-color: CadetBlue;
	border-color: #111;
	border-style: solid;
	border-width: thin;
	font-weight: bold;
	font-size: large;
}

video, audio {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer {
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
}
footer ul {
	width: 100%;
	display: inline;
	list-style-type: none;
}
footer ul li {
	width: auto;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	h2 {
		font-size: xx-large;
		text-align: center;
	}

	p, a, ul, li {
		font-size: x-large;
	}

	.fluid {
		width: 85%;
	}

	#services {
		width: 75%;
	}

}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	.fluid {
		width: 60%;
	}

}
